@import "tailwindcss";

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  @apply overflow-auto sm:overflow-hidden;
}

.nav-btn {
  background-color: transparent;
}

.sm-tab {
  overflow: auto;
  scrollbar-width: none;
}

.mis_tab tbody tr {
  border-bottom: 1px solid #5224b5;
}
.mis_tab tbody tr:last-child {
  border-bottom: none;
}
.mis_tab thead th {
  padding: 5px 0;
  max-width: 5vw;
}
.mis_tab tbody td {
  padding: 5px 0;
  width: 5vw;
}
.mis_tab thead {
  background-color: #5224b5;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 0px #5224b5;
}

/* .dash_tab tbody tr {
  border-bottom: 1px solid #5224b5;
} */
.dash_tab tbody tr:last-child {
  border-bottom: none;
}
.dash_tab thead th {
  padding: 5px 0;
  max-width: 5vw;
}
.dash_tab tbody td {
  padding: 5px 0;
  width: 5vw;
}
.dash_tab thead {
  background-color: #eeeaf8;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 0px #5224b5;
}
.dash_tab2 tbody tr:last-child {
  border-bottom: none;
}
.dash_tab2 thead th {
  padding: 10px 0;
  max-width: 5vw;
}
.dash_tab2 tbody td {
  padding: 5px 0;
  width: 5vw;
}
.dash_tab2 thead {
  background-color: #eeeaf8;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 0px #5224b5;
}
.activeBtn {
  @apply bg-[#DC4674] text-white py-1 px-4 rounded-md cursor-pointer;
}
.inActiveBtn {
  @apply text-[#DC4674] bg-white py-1 px-4 rounded-md cursor-pointer border-2 border-[#DC4674];
}
