@import "tailwindcss";

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  overflow: hidden;
}

.nav-btn {
  background-color: transparent;
}

.sm-tab {
  overflow: auto;
  scrollbar-width: none;
}

.mis_tab tbody tr {
  border-bottom: 1px solid #132f62;
}
.mis_tab tbody tr:last-child {
  border-bottom: none;
}
.mis_tab thead th {
  padding: 5px 0;
  max-width: 5vw;
}
.mis_tab tbody td {
  padding: 5px 0;
  width: 5vw;
}
.mis_tab thead {
  background-color: #5224b5;
  position: sticky;
  top: 0;
  z-index: 10;
}
